@using Sitecore.Mvc
@using Hackathon.Feature.Teams
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Hackathon.Feature.Teams.Models.TeamsViewModel

@if (Model.Teams != null && Model.Teams.Count > 0)
{
    <!-- Teams table start -->
    <section id="pricing" class="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-12 heading">
                    <span class="title-icon pull-left"><i class="fa fa-university"></i></span>
                    <h2 class="title">@Html.Sitecore().DictionaryField(Constants.DictionaryPaths.Title)</h2>
                </div>
            </div><!-- Title row end -->
            <div class="row">

                @foreach (var team in Model.Teams)
                {

                    <!-- Team start -->
                    <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay=".5s">
                        <div class="plan text-center">

                            <p class="plan-price"><strong>@Html.Sitecore().Field(Templates.Team.Fields.Name, team.item)</strong></p>
                            <ul class="list-unstyled">
                                @foreach (var member in team.Members)
                                {
                                    <li>
                                        @Html.Sitecore().Field(Templates.TeamMember.Fields.FullName, member.item)
                                        <div class="team-social">
                                            <a class="twt" href="@Html.Sitecore().Field(Templates.TeamMember.Fields.TwitterUrl, member.item)"><i class="fa fa-twitter"></i></a>
                                            <a class="linkdin" href="@Html.Sitecore().Field(Templates.TeamMember.Fields.LinkedInUrl, member.item)"><i class="fa fa-linkedin"></i></a>

                                        </div>
                                    </li>

                                }
                            </ul>

                        </div>
                    </div><!-- Team end -->
                }

            </div><!--/ Content row end -->
        </div><!--/  Container end-->
    </section><!--/ Teams table end -->

}