@using Sitecore.Foundation.Accounts
@using Sitecore.Foundation.Accounts.Services
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Foundation.Accounts
@model Sitecore.Foundation.Accounts.Models.LoginInfo

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.Hidden("ReturnUrl", Model.ReturnUrl)
    @Html.AddUniqueFormId()
    @Html.ValidationSummary(true)
  
    <section id="main-container">
        <div class="container">

            <div class="row">
                <div class="col-md-7">
                    <form id="contact-form" action="contact-form.php" method="post" role="form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.Email, new
                                                                        {
                                                                            @class = "control-label"
                                                                        })
                                    @Html.TextBoxFor(x => x.Email, new
                                                                   {
                                                                       @class = "form-control",
                                                                       id = "loginEmail",
                                                                       placeholder = Html.Sitecore().Dictionary(Constants.DictionaryPaths.LoginEmail)
                                                                   })
                                    @Html.ValidationMessageFor(x => x.Email, "", new
                                                                                 {
                                                                                     @class = "help-block"
                                                                                 }, "p")

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.Password, new
                                          {
                                              @class = "control-label"
                                          })
                                    @Html.PasswordFor(x => x.Password, new
                                                                       {
                                                                           @class = "form-control",
                                                                           id = "loginPassword",
                                                                           placeholder = Html.Sitecore().Dictionary(Constants.DictionaryPaths.LoginPassword)
                                                                       })
                                    @Html.ValidationMessageFor(x => x.Password, "", new
                                                                                    {
                                                                                        @class = "help-block"
                                                                                    }, "p")

                                </div>
                            </div>

                        </div>
                      
                        <div class="text-right">
                            <br>
                            <button class="btn btn-primary solid blank" type="submit">@Html.Sitecore().Dictionary(Constants.DictionaryPaths.Login)</button>
                        </div>
                    </form>
                </div>

            </div>

        </div><!--/ container end -->

    </section><!--/ Main container end -->

}