@using Sitecore.Mvc
@using Hackathon.Feature.Judges
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Hackathon.Feature.Judges.Models.JudgeViewModel

@if (Model.Judges != null && Model.Judges.Count > 0)
{
    <!-- Judge start -->
    <section id="team" class="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 heading">
                    <span class="title-icon pull-left"><i class="fa fa-weixin"></i></span>
                    <h2 class="title">@Html.Sitecore().DictionaryField(Constants.DictionaryPaths.Title) </h2>
                </div>
            </div><!-- Title row end -->

            <div class="row text-center">
                @foreach (var item in Model.Judges)
                {

                    <div class="col-md-3 col-sm-6">
                        <div class="team wow slideInLeft">
                            <div class="img-hexagon">
                                @Html.Sitecore().Field(Templates.Judges.Fields.Picture, item.item)
                                <span class="img-top"></span>
                                <span class="img-bottom"></span>
                            </div>
                            <div class="team-content">
                                <h3>@Html.Sitecore().Field(Templates.Judges.Fields.Name, item.item)</h3>

                                <div class="team-social">

                                    @Html.Sitecore().Field(Templates.Judges.Fields.TwitterAccount_FieldName, item.item,
                                        new { text = "<i class='fa fa-twitter'></i>", @Class = "twt" }
                                        )

                                    @Html.Sitecore().Field(Templates.Judges.Fields.LinkedInAccount_FieldName, item.item,
                                    new { text = "<i class='fa fa-linkedin'></i>", @Class = "linkdin" }
                                    )

                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div><!--/ Content row end -->
        </div><!--/ Container end -->
    </section><!--/ Judge end -->

}