@using Hackathon.Feature.Teasers.Models;
@using Sitecore.Foundation.Dictionary.Repositories;

@model List<Hackathon.Feature.Teasers.Models.ISliderItem>

@if (Model == null || Model.Count == 0)
{
    <p>@DictionaryPhraseRepository.Current.Get("", "The data source is empty or not set, please select a data source.")</p>
}
else
{
    <section id="home" class="no-padding">
        <div id="main-slide" class="cd-hero">
            <ul class="cd-hero-slider">
                @foreach (var slide in Model)
                {
                    if (slide is ImageSlider)
                    {
                        var _slide = slide as ImageSlider;

                        <li class="selected">
                            <div class="overlay2">
                                <img class="" src="@_slide.ImageUrl" alt="@_slide.ImageAlt">
                            </div>
                            <div class="cd-full-width">
                                <h2>@_slide.Title</h2>
                                <h3>@_slide.Description</h3>
                                <a href="@_slide.LinkUrl" target="@_slide.LinkTarget" class="btn btn-primary white cd-btn">@_slide.LinkText</a>
                            </div> <!-- .cd-full-width -->
                        </li>
                    }
                    else if (slide is VideoSlider)
                    {
                        var _video = slide as VideoSlider;

                        <li class="cd-bg-video">
                            <div class="cd-full-width">
                                <h2>@_video.Title</h2>
                                <h3>@_video.Description</h3>

                                <a href="@_video.LinkUrl" target="@_video.LinkTarget" class="cd-btn btn btn-primary solid">@_video.LinkText</a>
                            </div> <!-- .cd-full-width -->

                            <div class="cd-bg-video-wrapper" data-video="@_video.VideoUrl">
                                <!-- video element will be loaded using jQuery -->
                                
                            </div> <!-- .cd-bg-video-wrapper -->
                        </li>
                    }
                }
            </ul>
            <div class="cd-slider-nav">
                <nav>
                    <span class="cd-marker item-1"></span>
                    <ul>
                        @foreach (var slide in Model)
                        {
                            if (slide is ImageSlider)
                            {

                                <li class="selected"><a href="#0"><i class="fa fa-android"></i> Tech</a></li>
                            }
                            else if (slide is VideoSlider)
                            {
                                <li class="video"><a href="#0"><i class="fa fa-video-camera"></i> Video</a></li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </section>
}
